///////////////////////////////////////////////////////////////////////////////
// Header Section                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.header {
    padding: 0 1rem;
    @include media(">tablet") { padding: 0 $gap;}
    h1 { 
        text-align: center;
        margin: auto;
        font-size: 3.3rem;
        padding: 3rem;
    }
    section {
        position: relative;
        background-color: var(--color-base-light);
        display: flex;
        border-radius: calc($radius * 2);
        height: 60vh;
        overflow: hidden;
        @include media(">tablet") {
            width: $max-width;
            height: 28rem;
        }
    }
    div {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: calc($radius * 2);
        overflow: hidden;
        transition: transform .2s ease-in-out;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all .5s ease-in-out;
        }
        > span {
            position: absolute;
            aspect-ratio: 1 / 1;
            border-radius: 100%;
            transform: translateY(0%);
            bottom: -8.2rem;
            animation: circleup 8s linear;
            animation-iteration-count: infinite;
            overflow: hidden;
            border: 0;
        }
    }
    div {
        &:hover { 
            &::before { backdrop-filter: blur(10px); }
        }
    }
    span {
        &:nth-child(1) {
            width: 5rem;
            animation-delay: 3s;
            animation-duration: 6s;
        }
        &:nth-child(2) {
            left: 20%;
            width: 2rem;
            animation-delay: 16s;
            animation-duration: 12s;
        }
        &:nth-child(3) {
            left: 10%;
            width: 8rem;
            animation-delay: 17s;
            animation-duration: 14.8s;
        }
        &:nth-child(4) {
            left: 98%;
            width: 6rem;
            animation-delay: 13s;
            animation-duration: 10s;
        }
        &:nth-child(5) {
            left: 33%;
            width: 6.5rem;
            animation-delay: 280ms;
            animation-duration: 15s;
        }
        &:nth-child(6) {
            left: 78%;
            width: 4.2rem;
            animation-delay: 680ms;
            animation-duration: 10s;
        }
        &:nth-child(7) {
            left: 88%;
            width: 5rem;
            animation-delay: 20ms;
            animation-duration: 14s;
        }
    }
    img {
        object-fit: cover;
        display: block;
    }
    h1 { z-index: 1; }
    @include media(">tablet") {
        display: flex;
        position: relative;
        max-width: $max-width;
        margin: auto;
        align-items: center;
        padding-top: 8rem;
        h1 {
            margin: auto;
            width: 60%;
            line-height: 1.2;
        }
        div {
            position: absolute;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes circleup {
    95% { opacity: 1;}
    99% { opacity: 0;}
    100% { 
        transform: translateY(-38rem); 
        opacity: 0;
    }
}