///////////////////////////////////////////////////////////////////////////////
// Header Section                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.header {
    h1 { text-align: center; }
    @include media(">tablet") {
        display: flex;
        position: relative;
        max-width: $max-width;
        margin: auto;
        align-items: center;
        h1 {
            margin: auto;
            width: 60%;
            z-index: 1;
            line-height: 1.2;
        }
        height: 55vh;
        div {
            position: absolute;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}