///////////////////////////////////////////////////////////////////////////////
// Tile Component                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";


.tile {
    padding: calc($gap / 2);
    position: relative;
    background-color: var(--gray);
    border-radius: calc($radius * 2);
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}