///////////////////////////////////////////////////////////////////////////////
// Tile Component                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";


.tile {
    padding: calc($gap / 2);
    position: relative;
    background-color: var(--gray);
    border-radius: calc($radius * 2);
    &.square { aspect-ratio: 1 / 1; }
    &.wide { 
        grid-column: 2 / 3 ;
        aspect-ratio: 1 / 1;
    }
}