///////////////////////////////////////////////////////////////////////////////
// Footer Section                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.footer {
    display: grid;
    position: relative;
    max-width: $max-width;
    margin: auto;
    padding: 4rem 0;
    >div { 
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        column-gap: $gap;
    }
}