///////////////////////////////////////////////////////////////////////////////
// Around Component                                                          //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.around {
    background-color: var(--color-base-light);
    padding: 1rem;
    div {
        margin: auto;
        position: relative;
        max-width: $max-width;
        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: $gap;
        }
    }
    @include media(">tablet") {
        padding: 4rem 0;
        ul { 
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr);
            column-gap: $gap;
            max-width: $max-width;
            margin: auto;
        }
    }
}