///////////////////////////////////////////////////////////////////////////////
// Around Component                                                          //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.around {
    background-color: var(--color-base-light);
    padding: 1rem;
    margin-bottom: 20rem;
    div {
        margin: auto;
        position: relative;
        max-width: $max-width;
    }
    span { color: var(--color-base); }
    p { margin-top: .5rem; }
    @include media(">tablet") {
        padding: 4rem 0;
        div {
            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: $gap;
            }
        }
        ul { 
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr);
            column-gap: $gap;
            max-width: $max-width;
            margin: auto;
        }
    }
}