///////////////////////////////////////////////////////////////////////////////
// Exploring Component                                                       //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.exploring {
    display: grid;
    position: relative;
    max-width: $max-width;
    margin: auto;
    padding: 1rem;
    @include media(">tablet") {
        padding: 4rem 0;
        ul { 
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(4, 1fr);
            column-gap: $gap;
        }
    }
}
