///////////////////////////////////////////////////////////////////////////////
// Exploring Component                                                       //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.exploring {
    display: grid;
    position: relative;
    margin: auto;
    h2, h3 {
        width: 100%;
        margin-bottom: $gap;
        padding: .5rem 1rem;
     }
     div:nth-child(2) {
         display: flex;
         justify-content: space-between;
         align-items: center;
         svg { height: 1rem; }
     }
    .recent {
        display: flex;
        margin-bottom: 1rem;
        h4 { margin: 0; }
     }
    ul { 
        display: flex;
        overflow-x: scroll;
        height: 300px;
        flex-direction: row;
        margin: auto;
        width: 100%;
        margin-bottom: 2rem;
        li { 
            margin-right: calc($gap / 2);
            flex: 1 0 auto;
            position: relative;
            box-sizing: border-box;
        }
        img { object-fit: cover; }
        li:first-child { margin-left: 1rem;}
    }
    @include media(">tablet") {
        padding: 4rem 0;
        h2, h3, h4 { padding: .5rem 0rem; }
        div { 
            width: $max-width;
            margin: auto;
            margin-bottom: $gap;
            padding: 0;
        }
        ul { 
            display: flex;
            overflow-x: scroll;
            height: 300px;
            flex-direction: row;
            margin: auto;
            width: 100%;
            margin-bottom: 2rem;
            li:first-child { margin-left: calc((100% - 1400px) / 2 );}
            &::-webkit-scrollbar { display: none; }
        }
    }
    .tile {
        position: relative;
        background-color: var(--gray);
        border-radius: calc($radius * 2);
        overflow: hidden;
        display: flex;
        flex-direction: column-reverse;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        flex: 0 0 auto;
        padding: 1rem;
        h4 { 
            margin: 0;
            margin-bottom: .5rem;
            padding: 0;
            text-align: left;
        }
        span { 
            transition: all .2s ease-in-out;
            overflow: hidden;
        }
        p { margin: 0;}
        span:hover { transform: scale(1.02); }
        div { 
            margin: 0;
            padding: 1rem;
            display: block;
            width: 100%;
            height: fit-content;
            z-index: 2;
            background-color: rgba($color: #fff, $alpha: .6);
            border-radius: calc($gap / 2);
            transform: translateY(125%);
            transition: all .5s cubic-bezier(0.38, 0.13, 0, 1.18);
            backdrop-filter: blur(20px);
        }
        &.square { aspect-ratio: 1 / 1; }
        &:hover {
            div { transform: translateY(0%); }
        }
    }
}
