///////////////////////////////////////////////////////////////////////////////
// Hey Component                                                             //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.hey {
    display: grid;
    position: relative;
    max-width: $max-width;
    margin: auto;
    padding: 5rem 1rem;
    h2 { margin-bottom: 3rem; }
    span { color: var(--color-base); }
    @include media(">tablet") {
        padding: 4rem 0;
        ul { 
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(4, 1fr);
            column-gap: $gap;
        }
    }
}
