///////////////////////////////////////////////////////////////////////////////
// Social Component                                                          //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.social {
    background-color: var(--color-base-light);
    padding: 1rem;
    div {
        margin: auto;
        display: grid;
        position: relative;
        max-width: $max-width;
    }
    @include media(">tablet") {
        padding: 4rem 0;
        div {
            ul { 
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: repeat(3, 1fr);
                column-gap: $gap;
            }
        }
    }
}
