///////////////////////////////////////////////////////////////////////////////
// Social Component                                                          //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.social {
    background-color: var(--color-base-light);
    padding: 4rem 0;
    div {
        margin: auto;
        display: grid;
        position: relative;
        max-width: $max-width;
        ul { 
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(3, 1fr);
            column-gap: $gap;
        }
    }
}
