///////////////////////////////////////////////////////////////////////////////
// Work Component                                                            //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.work {
    background-color: var(--color-base-light);
    padding: 1rem;
    > div {
        margin: auto;
        display: grid;
        position: relative;
        max-width: $max-width;
        > div { display: flex; }
        ul {
            display: grid;
            width: 100%;
            flex-direction: row;
            gap: calc($gap / 2);
        }
    }
    @include media(">tablet") {
        padding: 4rem 0;
        > div { 
            margin: auto;
            display: grid;
            position: relative;
            max-width: $max-width;
            > div { 
                display: flex;
                flex: 0 auto;
                justify-content: space-between;
                margin-bottom: 5rem;
                h3 { flex: 35% 0;}
            }
        }
        ul { 
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}
