///////////////////////////////////////////////////////////////////////////////
// About Section                                                             //
///////////////////////////////////////////////////////////////////////////////

@import "../styles/scaffold";

.about {
    position: relative;
    background-color: black;
    color: var(--white);
    margin: auto;
    button { border: 1px solid var(--black); }
    nav { mix-blend-mode: difference; }
    nav a { color: var(--white);}
    > section { padding: 1rem; }
    .intro {
        > div { 
            display: flex;
            align-items: center;
            height: auto;
            img { mix-blend-mode: luminosity;}
            h1 { margin-left: 2rem; }
        }
        h1 { margin: 0;}
        p { font-size: 2rem;}
    }
    @include media(">tablet") {
        p { font-size: 1.5rem; }
        > section {
            max-width: 1440px;
            margin: auto;
            padding: 10rem 2rem;
        }
        .intro {
            width: 50%;
            margin-bottom: 5rem;
            > div { margin-bottom: 4rem; }
        }
        .me {
            div {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                margin-bottom: 3rem;
                h4 { grid-column: span 1/3;}
                p {grid-column: 3/-1;}
            }
        }
    }
}