///////////////////////////////////////////////////////////////////////////////
// Portfolio's Main Page                                                     //
///////////////////////////////////////////////////////////////////////////////

@import "../styles/scaffold";

.main {
  --color-focus-ring: var(--black);
  background-color: var(--color-background);

  > * {
    --spacing-multiplier: 8;
    --spacing: calc(var(--gap) * var(--spacing-multiplier));
    padding-bottom: var(--spacing);

    &:first-child {
      --spacing-multiplier: 7;
      padding-top: var(--spacing);
    }

    @include media(">tablet") {
      --spacing-multiplier: 5;
      &:first-child { --spacing-multiplier: 5; }
    }

    @include media(">desktop") {
      --spacing-multiplier: 3.5;
      &:first-child { --spacing-multiplier: 3.5; }
    }
  }

  a { @include focus-ring-visible; }
}
