///////////////////////////////////////////////////////////////////////////////
// Nav Component                                                             //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.nav {
  @include media(">tablet") {
    position: fixed;
    display: flex;
    -ms-flex-align: center;
    width: 100%;
    z-index: 10;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 50px;
      margin: auto;
      margin-top: 25px;
      margin-bottom: 25px;
      width: $max-width;
      ul { display: flex; }
      span { text-align: center; }
      .social { justify-content: end; }
    }
  }
}
