///////////////////////////////////////////////////////////////////////////////
// Nav Component                                                             //
///////////////////////////////////////////////////////////////////////////////

@import "../../styles/scaffold";

.nav {
  margin: 50px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  ul { display: flex; }
  span { text-align: center; }
  .social { justify-content: end; }
}
