///////////////////////////////////////////////////////////////////////////////
// Scaffold                                               (Global Component) //
///////////////////////////////////////////////////////////////////////////////

// All kinds of mixins, functions, and global variables
@use "sass:math";
@charset "utf-8";

@import "utils";                  // Mixins & functions utilities
@import "vendor/include-media";   // Media queries with superpowers

// Typography /////////////////////////////////////////////////////////////////

$base-mob     : 16px;             // 1rem
$base         : 15px;             // 1rem
$base-large   : 16px;             // 1rem

// Grid ///////////////////////////////////////////////////////////////////////

// Mobile
$columns-mob  : 4;                // Columns number
$gap-mob      : $base-mob;        // Gutter width
$gap-mob-out  : $base-mob * 3;    // External gutter width

// Tablet
$columns-tab  : 10;               // Columns number
$gap-tab      : $base * 2;        // Gutter width
$gap-tab-out  : $base * 4;        // External gutter width

// Desktop
$columns      : 13;               // Columns number
$gap          : $base * 2;        // Gutter width
$gap-out      : $base * 3;        // External gutter width

$max-width    : 1400px;           // Maximum container's width

$max-column   : math.div($max-width - ($gap * ($columns - 1)), $columns);
$max-screen   : $max-width + ($gap-out * 2);
