///////////////////////////////////////////////////////////////////////////////
// Mixins & functions utilities                               (Global block) //
///////////////////////////////////////////////////////////////////////////////

// Px to rem
$base: 16px !default;

@function rem($size) {
  $rem: math.div($size, $base);

  @return #{$rem}rem;
}

// Clear fix wizardry
@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

// Ease dimensioning
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// Text overflow
@mixin text-overflow($max-width: 100%) {
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Hide typography, to be seen with screen readers only
@mixin fontless {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

// Show hidden typography
@mixin fontful {
  position: static;
  width: auto;
  height: auto;
  padding: unset;
  margin: unset;
  overflow: visible;
  clip: auto;
  clip-path: none;
  clip-path: none;
  white-space: normal;
}

// Remove default button appearance
@mixin buttonless(
  $background: transparent,
  $border:     0,
  $radius:     0,
  $shadow:     none
) {
  appearance: none;
  cursor: pointer;
  background-color: $background;
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;
}

// Fancy underline, all native
@mixin underline(
  $color:     black,
  $thickness: 2px,
  $skip:      true,
  $position:  under,
) {
  text-decoration: underline;
  text-decoration-thickness: $thickness;
  text-decoration-color: $color;
  text-underline-position: $position;
  text-decoration-width: $thickness;
  text-decoration-skip-ink: if($skip, auto, none);
  text-decoration-skip: if($skip, skip, none);
}

// Dashed line as background
@mixin dashed-line($color: black, $direction: 0deg) {
  background-image: linear-gradient($direction, transparent 25%, $color 25%, $color 50%, transparent 50%, transparent 75%, $color 75%, $color 100%);
}

// Focus ring techniques
@mixin focus-ring-outline($border: 2px, $offset: 2px) {
  outline: $border solid var(--color-focus-ring);
  outline-offset: $offset;
}

@mixin focus-ring($border: 2px, $offset: 2px) {
  outline: none;
  box-shadow: 0 0 0 $offset var(--color-focus-bkg), 0 0 0 ($border + $offset) var(--color-focus-ring);
}

// Focus ring with Safari fallback
@mixin focus-ring-visible {
  @media not all and (min-resolution: .001dpcm) { // Target only Safari browsers
    @supports (-webkit-appearance: none) {        // Use `focus` instead of `focus-visible`
      &:focus { @include focus-ring-outline; }    // due to Safari's lack of support
    }
  }
  &:focus-visible { @include focus-ring-outline; }
}
